{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bsgsheets/css/sheet.css') }}" />
{% endblock %}
{#{% block title 'Battlestar Galactica Sheet' %}#}

{% block body %}
    <p>hohoho</p>haai {{ yup }}
{% endblock %}