#rank-div {
    background-color: #f00;
    width: 150px;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}