<div class="attribute_row">
    {{ render(controller(
    'DashboardBundle:Menu:dashboardMenu',
    {}
    )) }}
</div>

<h1>Buy your attributes!</h1><br/>
(for char {{ characterId }}, that is)


<br/>