{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/character/css/style.css') }}" />
{% endblock %}

{% block body -%}
<div id="menu">
    {{ render(controller(
    'DashboardBundle:Menu:dashboardMenu',
    {}
    )) }}
</div>

<h1>Buy your attributes!</h1><br/>
(for char {{ characterId }}, that is)

<br/>

{% endblock %}