{% extends 'DashboardBundle:Dashboard:showDashboard.html.twig' %}

{% block content -%}
    <h1>Buy your attributes!</h1>
    <a href="{{ path('character_show', { 'id': characterId }) }}">Back to {{ character.getName }}</a>
    <br/>
    Meneer zn strength is {{ character.getStrength }}<br/>
    <br/>
    <br/>

    REMAINING ATTRIBUTE POINTS: {{ character.rank.getAttributePoints }}<br/>
    <br/>
    <div class="attributes_content">
        {% include 'CharacterBundle:Attribute:ShowEditableAttributes.html.twig' %}
    </div>
    <br/>
    <table>
        <tr>
            <th>Die Type</th>
            <th>Point Cost</th>
        </tr>
        <tr><td>d4</td><td>4</td></tr>
        <tr><td>d6</td><td>6</td></tr>
        <tr><td>d8</td><td>8</td></tr>
        <tr><td>d10</td><td>10</td></tr>
        <tr><td>d12</td><td>12</td></tr>
        <tr><td>d12+d2</td><td>14</td></tr>
        <tr><td>d12+d4</td><td>16</td></tr>
    </table>

{% endblock %}