{% block head %}
    {#<link rel="icon" sizes="16x16" href="{{ asset('bundles/silninuser/images/cylon.ico') }}" />#}
    {#<link rel="stylesheet" href="{{ asset('bundles/silninuser/css/style.css') }}" />#}
{% endblock %}
{#{% block title 'Battlestar Galactica Sheet' %}#}

{% block body -%}
    <div id="menu">
        {{ render(controller(
        'FrontpageBundle:Menu:frontpageMenu',
        {}
        )) }}
    </div>

    <h1>Frontpage</h1>

{% endblock %}