<div>{% include 'CharacterBundle:Edit:editAttributes.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:showDerivedAttributesBlock.html.twig' %}</div>
<div>Action Difficulty</div>
<div>{% include 'CharacterBundle:Edit:showAdvancementBlock.html.twig' %}</div>
<div>Advancement Costs</div>

