<div>{% include 'CharacterBundle:Edit:editWoundsAndStuns.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:editAttributes.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:showDerivedAttributesBlock.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:showActionDifficultyBlock.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:showAdvancementBlock.html.twig' %}</div>
<div>{% include 'CharacterBundle:Edit:showAdvancementCostBlock.html.twig' %}</div>