<h2>Action Difficulty</h2>
<div class="headeredTable">
    <table>
        <tr>
            <th>Action</th>
            <th>Diff / Extraordinary</th>
        </tr>
        <tr>
            <td>Easy</td>
            <td>3 / 10</td>
        </tr>
        <tr>
            <td>Average</td>
            <td>7 / 14</td>
        </tr>
        <tr>
            <td>Hard</td>
            <td>11 / 18</td>
        </tr>
        <tr>
            <td>Formidable</td>
            <td>15 / 22</td>
        </tr>
        <tr>
            <td>Heroic</td>
            <td>19 / 26</td>
        </tr>
        <tr>
            <td>Incredible</td>
            <td>23 / 30</td>
        </tr>
        <tr>
            <td>Ridiculous</td>
            <td>27 / 34</td>
        </tr>
        <tr>
            <td>Impossible</td>
            <td>31 / 38</td>
        </tr>
    </table>
</div>