<h2>Derived Attributes</h2>
<div class="attributes">
    <table>
        <tr>
            <td>Life Points</td>
            <td>
                <span class="badge" ng-model="attributeDice[3]">{[{ attributeDice[3] }]}</span>
                <span class="badge" ng-model="attributeDice[6]">{[{ attributeDice[6] }]}</span>
            </td>
        </tr>
        <tr>
            <td>Initiative</td>
            <td>
                <span class="badge" ng-model="attributeDice[2]">{[{ attributeDice[2] }]}</span>
                <span class="badge" ng-model="attributeDice[4]">{[{ attributeDice[4] }]}</span>
            </td>
        </tr>
        <tr>
            <td>Endurance</td>
            <td>
                <span class="badge" ng-model="attributeDice[3]">{[{ attributeDice[3] }]}</span>
                <span class="badge" ng-model="attributeDice[6]">{[{ attributeDice[6] }]}</span>
            </td>
        </tr>
        <tr>
            <td>Resistance</td>
            <td>
                <span class="badge" ng-model="attributeDice[3]">{[{ attributeDice[3] }]}</span>
                <span class="badge" ng-model="attributeDice[3]">{[{ attributeDice[3] }]}</span>
            </td>
        </tr>
    </table>
</div>