<h2>Advancement Cost</h2>
<div class="headeredTable">
    <table>
        <tr>
            <th>Type</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Attribute</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Trait</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Skill</td>
            <td>3</td>
        </tr>
    </table>
</div>