<h2>Advancement</h2>
<div class="attributes">
    <table>
        <tr>
            <td>Advancement Points</td>
            <td ng-model="advancementPoints">{[{ advancementPoints }]}</td>
        </tr>
        <tr>
            <td>Attribute Points</td>
            <td ng-model="attributePoints">{[{ attributePoints }]}</td>
        </tr>
        <tr>
            <td>Skill Points</td>
            <td ng-model="skillPoints">{[{ skillPoints }]}</td>
        </tr>
        <tr>
            <td>Trait Points</td>
            <td ng-model="traitPoints">{[{ traitPoints }]}</td>
        </tr>
    </table>
</div>