{% extends '::base.html.twig' %}
{% block body -%}
    <div id="menu">
        {{ render(controller(
        'DashboardBundle:Menu:dashboardMenu',
        {}
        )) }}
    </div>

    <h1>Character creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dashboard') }}">
            Back to my dashboard
        </a>
    </li>
</ul>
{% endblock %}
